---
notes: |
  **Note:** These are intended to drop down from the top of the site and remain fixed until dismissed.

  **Usage:** Instances where we need to display more than one notification to the user.

    * **Error:** There has been a serious problem, or the user has completed a negative action, e.g: burning a device.
    * **Info:** We just need to surface a neutral notification to the user.
    * **Success:** User has completed a positive action, e.g: Adding a device or connection.
---
<div class='notifications error'>
  <div class='notifications--pagination'>
    <a href='#' class='action'>
      <i class='fa fa-chevron-left'></i>
    </a>
    <a href='#' class='action'>
      <i class='fa fa-chevron-right'></i>
    </a>
  </div>
  <div class='notifications--messages'>
    <p>[1 / 2] Notification Message goes here</p>
  </div>
  <div class='notifications--actions'>
    <a href='#' class='action'>
      <i class='fa fa-close'></i>
    </a>
  </div>
</div>

<div class='notifications info'>
  <div class='notifications--pagination'>
    <a href='#' class='action'>
      <i class='fa fa-chevron-left'></i>
    </a>
    <a href='#' class='action'>
      <i class='fa fa-chevron-right'></i>
    </a>
  </div>
  <div class='notifications--messages'>
    <p>[1 / 2] Notification Message goes here</p>
  </div>
  <div class='notifications--actions'>
    <a href='#' class='action'>
      <i class='fa fa-close'></i>
    </a>
  </div>
</div>

<div class='notifications success'>
  <div class='notifications--pagination'>
    <a href='#' class='action'>
      <i class='fa fa-chevron-left'></i>
    </a>
    <a href='#' class='action'>
      <i class='fa fa-chevron-right'></i>
    </a>
  </div>
  <div class='notifications--messages'>
    <p>[1 / 2] Notification Message goes here</p>
  </div>
  <div class='notifications--actions'>
    <a href='#' class='action'>
      <i class='fa fa-close'></i>
    </a>
  </div>
</div>
