---
notes: |
  **Usage:** TODO: Write this

  **Note:** ```<div class='f-tooltips'>``` is for UI Kit display purposes only
---
<div class='f-tooltips dark'>
  <div class='tooltip show type-dark place-bottom'>Standard</div>
  <div class='tooltip show type-dark place-left'>Standard</div>
  <div class='tooltip show type-dark place-top'>Standard</div>
  <div class='tooltip show type-dark place-right'>Standard</div>
</div>

<div class='f-tooltips light'>
  <div class='tooltip show type-light place-bottom'>Inverse</div>
  <div class='tooltip show type-light place-left'>Inverse</div>
  <div class='tooltip show type-light place-top'>Inverse</div>
  <div class='tooltip show type-light place-right'>Inverse</div>
</div>

<div class='f-tooltips alert'>
  <div class='tooltip show type-alert place-bottom'>Alert</div>
  <div class='tooltip show type-alert place-left'>Alert</div>
  <div class='tooltip show type-alert place-top'>Alert</div>
  <div class='tooltip show type-alert place-right'>Alert</div>
</div>

<div class='f-tooltips success'>
  <div class='tooltip show type-success place-bottom'>Success</div>
  <div class='tooltip show type-success place-left'>Success</div>
  <div class='tooltip show type-success place-top'>Success</div>
  <div class='tooltip show type-success place-right'>Success</div>
</div>
