---
notes: |
  Cards
---
<div class="cards-list">
  <div class="card title-card">
    <header></header>
    <article>
      <h4><strong>I'm a title card</strong></h4>
      <h6>Subheading</h6>
      <hr>
      <p>Maecenas et lacus imperdiet, pulvinar turpis quis, sagittis mauris.</p>
    </article>
  </div>

  <div class="card title-card">
    <header></header>
    <article>
      <h4><strong>I'm a title card</strong></h4>
      <h6>Subheading</h6>
      <hr>
      <p>Maecenas et lacus imperdiet, pulvinar turpis quis, sagittis mauris.</p>
    </article>
  </div>

  <div class="card title-card">
    <header></header>
    <article>
      <h4><strong>I'm a title card</strong></h4>
      <h6>Subheading</h6>
      <hr>
      <p>Maecenas et lacus imperdiet, pulvinar turpis quis, sagittis mauris.</p>
    </article>
  </div>
</div>
