//
// Animations – defaults and variables
//---------------------------------------------------------

// Durations should be selected based on how much
// distance an object is covering, as well as the
// overall size of the object that is transitioning.
$faster     = 100ms
$fast       = 150ms
$slow       = 200ms
$slower     = 250ms

// All easings are of the quad variety
// http://easings.net/
$easeIn             = cubic-bezier(0.55, 0.085, 0.68, 0.53)
$easeOut            = cubic-bezier(0.25, 0.46, 0.45, 0.94)
$easeInOut          = cubic-bezier(0.455, 0.03, 0.515, 0.955)
$easeOutElastic     = cubic-bezier(.1,.57,.55,1.18)
