//
// Colors by name
//---------------------------------------------------------
$blue                   = #00b2e2
$orange                 = #f07e00
$red                    = #ca2808
$green                  = #2bbd2d
$grey-dark              = #24353f
$grey-medium            = #8f989e
$grey-light             = #ced3d6
$silver                 = #edeff1
$off-white              = #fafcfd
$white                  = #ffffff
$transparent            = rgba(0, 0, 0, 0)


//
// Colors by use - General
//---------------------------------------------------------
$color-primary          = $blue
$color-splash           = $orange
$color-alert            = $red
$color-success          = $green
$color-text             = $grey-dark
$color-disabled         = $grey-light
$color-info             = $orange
$color-debug            = $grey-light
$color-error            = $red


//
// Colors by use - Typography
//---------------------------------------------------------
$color-text--quiet  = $grey-medium
$color-text--loud   = $grey-dark
