//
// Colors by name
//---------------------------------------------------------
$blue                   = #0070b9
$blue-bright            = #00b2e2
$orange                 = #ff9b29
$yellow-orange          = #fdb73d
$orange-red             = #fd7222
$red                    = #ca2808
$green                  = #b5d334
$grey-darker            = #24353f
$grey-dark              = #67757d
$grey-medium            = #8f979c
$grey-light             = #b8c3c9
$grey-lighter           = #d3d7d9
$grey-lightest          = #e4e6e7
$silver                 = #e7e5e4
$off-white              = #f2f8fb
$white                  = #ffffff
$transparent            = rgba(0, 0, 0, 0)


//
// Colors by use - General
//---------------------------------------------------------
$color-primary          = $blue
$color-primary--bright  = $blue-bright

$color-ajax--bright     = darken($green, 10%)
$color-ajax             = darken($green, 20%)
$color-ajax--dark       = darken($green, 30%)

$color-splash           = $orange
$color-splash--dark     = darken($orange-red, 15%)
$color-alert            = $red
$color-success          = $green
$color-text             = $grey-dark
$color-disabled         = $grey-lighter
$color-info             = $yellow-orange
$color-debug            = $grey-light
$color-error            = $red
$color-warning          = $yellow-orange


//
// Colors by use - Typography
//---------------------------------------------------------
$color-text--quiet  = $grey-medium
$color-text--loud   = $grey-darkest
