//
// Responsive scales and names for use.
//---------------------------------------------------------
rupture.scale        = 0px    320px       480px      780px    980px    1200px    1440px
rupture.scale-names  = 'nill' 'smallest'  'smaller'  'small'  'large'  'larger'  'largest'

rupture.mobile-cutoff = 667px // Iphone 6 @3x

//
// Wrapper width values
//---------------------------------------------------------
$wrapper-width--largest    = 1380px   // Large desktop
$wrapper-width--larger     = 1100px   // Laptop, medium desktop, large tablet
$wrapper-width--large      = 920px    // Medium to large tablet
$wrapper-width--small      = 720px    // Large phone to small tablet
$wrapper-width--smaller    = 420px    // Small phone
$wrapper-width--smallest   = 260px    // Tiny phone


//
// Default font sizes
// Note: Not for use in headlines
//---------------------------------------------------------
$type-size--largest       = 1.6rem
$type-size--larger        = 1.4rem
$type-size--large         = 1.2rem
$type-size--regular       = 1rem
$type-size--small         = .9rem
$type-size--smaller       = .6rem
$type-size--smallest      = .4rem

//
// Default heading sizes
//---------------------------------------------------------
$heading-size--largest    = 3.5rem
$heading-size--larger     = 2.85rem
$heading-size--large      = 2.2rem
$heading-size--small      = 1.65rem
$heading-size--smaller    = 1.2rem
$heading-size--smallest   = .9rem

//
// Letterspacing
// Note: ems instead of rems here for better relativity
//---------------------------------------------------------
$type-spacing--tightest   = -.065em
$type-spacing--tighter    = -.045em
$type-spacing--tight      = -.02em
$type-spacing--regular    = 1.14em
$type-spacing--loose      = 1.28em
$type-spacing--looser     = 1.36em
$type-spacing--loosest    = 1.6em


//
// Margin, padding and other attributes that need spacing
//---------------------------------------------------------
$spacing-thickest  = 2rem
$spacing-thicker   = 1.6rem
$spacing-thick     = 1.2rem
$spacing-thin      = .8rem
$spacing-thinner   = .6rem
$spacing-thinnest  = .2rem


//
// Border radius
//---------------------------------------------------------
$radius--largest    = 13px
$radius--larger     = 9px
$radius--large      = 5px
$radius--regular    = 4px
$radius--small      = 3px
