//-
//- Tier 2 navigation
//-
nav
  div.logo
    h1
      svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1224 654")
        path(d="M264.8,406.3h-166c-1.9,0-2.5-1.2-2.6-1.4c-0.2-0.7-0.3-1.5-0.3-2.1v-369c0-14.3-12-23.2-23.2-23.2H29.6 c-14.9,0-23.8,11.8-23.8,23.2V414c0,45,28,72.9,73,72.9h186.1c11.4,0,23.8-8.9,23.8-23.2v-36.1C288.6,416.6,279,406.3,264.8,406.3z")
        path(d="M954.7,356.8l139-31.2c45.6-10.7,45.6-54.5,45.6-78V188c0-48.7-38.5-71-74.3-71H937.3 c-44.2,0-71.6,27.7-71.6,72.3v225.4c0,49.7,38.1,72.3,73.6,72.3h178.1c12,0,21.2-11.4,21.2-21.2v-38c0-11.8-9.3-21.2-21.2-21.2 H960.9c-4.8,0-6.3-0.6-6.3-7.6v-40.6C954.6,358,954.6,357.3,954.7,356.8z M954.6,279.3v-80.2c0-1,1.3-1.1,1.7-1.1h96.3 c0.6,0,1.4,0.4,1.7,0.7v44.9c0,7.6,0,9-6.2,11.1")
        path(d="M834,117h-34.7c-16.1,0-29.8,13.1-33.7,25.5l-0.2,0l-69.7,249.2l-70.7-248.3l-0.5-1h-0.1 c-4.5-12.8-17.5-25.4-34.2-25.4h-34.8h-17.8h-36c-15.5,0-28.8,10.1-34.8,26.4l-69.6,247.9c-10.6-34.6-21.2-74.9-31.5-110.4 l-0.1-0.3c-14.2-49.1-27.6-95.4-41.1-137.6c-5-12.9-17.7-26-34.6-26h-37.4c-10.8,0-18.4,2.8-22.4,8.4c-3.8,5.3-4.2,12.5-1.2,21.5 L330.9,457c4.9,12.9,15.5,23,30.6,29.3L343,541.2l-15.2,45.7l-10.1,29.9c-2.6,9.5-2,16.9,2,22.2c4.2,5.5,11.5,8.2,22.3,8.2h37.3 c21.6,0,27.2-17.5,30.2-26.9l23.4-72.7h0l113.8-353.4c9.2,27.8,18.3,55.3,26.8,80.6l0.4,1.1c19.9,59.7,40.4,121.4,59.6,181.1 c7.9,22.4,29.7,34.7,61.5,34.7c31.8,0,52.9-12,60.9-34.8l102.2-309.9c3-8.8,2.5-16-1.3-21.3C852.8,119.9,845.1,117,834,117z")
        path(d="M1166.8,124.7H1156v-4.8h26.8v4.8h-10.8V151h-5.3V124.7z")
        path(d="M1187.5,119.9h5.4l10.3,14.6l10.3-14.6h5.3V151h-5.2v-23.2l-10.5,14.7l-10.5-14.7V151h-5.1V119.9z")

  div.side-nav
    ul.js-sideBar--code

      li: h3 Coding Practices
      li: a(href='#code-general') General
      li: a(href='#code-javascript') Javascript
      li: a(href='#code-css') CSS (Stylus)


    ul.js-sideBar--ui

      li: h3 Base UI Styles
      li: a(href='#ui-colors') Colors
      li: a(href='#ui-typography') Typography
      li: a(href='#ui-layouts') Layouts

      li: h3 Components
      li: a(href='#ui-layouts') Buttons
      li: a(href='#ui-forms') Forms
      li: a(href='#ui-toggles') Toggles
      li: a(href='#ui-cards') Cards
      li: a(href='#ui-notifications') Notifications
      li: a(href='#ui-modals') Modals


    ul.js-sideBar--brand

      li: h3 Brand
      li: a(href='#brand-logo') Logo Use
      li: a(href='#brand-voice') Voice
      li: a(href='#brand-photography') Photography
