//-
//- Tier 2 navigation
//-
nav
  div.side-nav
    ul.js-sideBar--code

      li: h3 Coding Practices
      li: a(href='#code-general') General
      li: a(href='#code-javascript') Javascript
      li: a(href='#code-css') CSS (Stylus)


    ul.js-sideBar--ui

      li: h3 Base
      li: a(href='#ui-colors') Colors
      li: a(href='#ui-typography') Typography
      li: a(href='#ui-layouts') Layouts

      li: h3 Components
      li: a(href='#ui-layouts') Buttons
      li: a(href='#ui-forms') Forms
      li: a(href='#ui-toggles') Toggles
      li: a(href='#ui-cards') Cards
      li: a(href='#ui-notifications') Notifications
      li: a(href='#ui-modals') Modals


    ul.js-sideBar--brand

      li: h3 Brand
      li: a(href='#brand-logo') Logo Use
      li: a(href='#brand-voice') Voice
      li: a(href='#brand-photography') Photography
