.navigation-list {
  padding: 0;

  // Arbitrary width
  width: 30rem;

  li {
    position: relative;
  }

  a {
    padding: .5rem .75rem;
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1.618;
  }

  a:hover {
    background: $off-white;
    box-shadow: inset 3px 0px 0px $color-primary;
  }

  ul {
    position: absolute;
    display: none;
    margin-left: 5rem;
    margin-top: -.5rem;
  }

  li:hover > ul {
    display: block;
  }
}
