.notifications {
  display flex
  width 100%
  height 4rem
  padding 1rem
  z-index 10
  color #fff
  margin-bottom 1rem
  text-align center

  // Colors
  &.debug {
    background $color-debug
  }
  &.success {
    background $color-success
  }
  &.error {
    background $color-error
  }
  &.info {
    background $color-info
  }

  // Layout
  &--pagination,
  &--messages,
  &--actions {
    display flex
    justify-content center
    align-items center
  }
  &--pagination {
    justify-content space-between
  }
  &--messages {
    width 100%
  }
  &--actions {
    justify-content flex-end
  }

  // Actions
  .action {
    padding 1rem
    color #fff
  }
}

