.title-card {
  border: 1px solid $silver;
  border-bottom-width: 3px;

  > header {
    min-height: 12rem;
    background-color: $silver;
  }

  > article {
    padding: 1rem;

    > h5 {
      color: $grey-dark;
    }

    > h6 {
      color: $grey-medium;
    }

    > hr {
      background-color: $off-white;
    }
  }
}
