$white1:    #fff1e4;
$white2:    #fffbf7;
$grey1:     #150f0d;
$grey2:     #412e2a;
$grey3:     #988d87;
$grey4:     #c0bab5;
$grey5:     #e0d6d2;
$blue1:     #18465e;
$blue2:     #4f667d;
$blue3:     #8299b0;
$green1:    #1b8851;
$green2:    #608e77;
$green3:    #89b082;
$orange1:   #b53d26;
$orange2:   #e65f48;
$orange3:   #ff8571;
$purple1:   #6b2c4b;
$purple2:   #7a475f;
$purple3:   #d2a4bb;
