---
title: Colors | Lyve
fabricator: true
---

<h1>Colors</h1>

<div class='f-item-group'>
  <div class="f-color-chips">

    <div class="title-card f-color-chip">
      <header class="color--primary"></header>
      <article>
        <h4><strong>Lyve Blue</strong></h4>
        <h6>Primary brand color</h6>
        <ul class="f-color-codes">
          <li>hex: <strong>#0070b9</strong></li>
          <li>rgb: <strong>0 112 185</strong></li>
        </ul>
      </article>
    </div>

    <div class="title-card f-color-chip">
      <header class="color--splash"></header>
      <article>
        <h4><strong>Orange</strong></h4>
        <h6>Primary splash color</h6>
        <ul class="f-color-codes">
          <li>hex: <strong>#ff9b29</strong></li>
          <li>rgb: <strong>255 155 41</strong></li>
        </ul>
      </article>
    </div>


    <div class="title-card f-color-chip">
      <header class="color--success"></header>
      <article>
        <h4><strong>Success Green</strong></h4>
        <h6>Accomplishment of positive action</h6>
        <ul class="f-color-codes">
          <li>hex: <strong>#b5d334</strong></li>
          <li>rgb: <strong>181 211 52</strong></li>
        </ul>
      </article>
    </div>


    <div class="title-card f-color-chip">
      <header class="color--alert"></header>
      <article>
        <h4><strong>Alert Red</strong></h4>
        <h6>Calling out a negative action</h6>
        <ul class="f-color-codes">
          <li>hex: <strong>#ca2808</strong></li>
          <li>rgb: <strong>202 40 8</strong></li>
        </ul>
      </article>
    </div>


    <div class="title-card f-color-chip">
      <header class="color--greyDark"></header>
      <article>
        <h4><strong>Dark Grey</strong></h4>
        <h6>Primary text color</h6>
        <ul class="f-color-codes">
          <li>hex: <strong>#24353f</strong></li>
          <li>rgb: <strong>36 53 63</strong></li>
        </ul>
      </article>
    </div>


    <div class="title-card f-color-chip">
      <header class="color--greyMedium"></header>
      <article>
        <h4><strong>Medium Grey</strong></h4>
        <h6>Secondary text color</h6>
        <ul class="f-color-codes">
          <li>hex: <strong>#8f979c</strong></li>
          <li>rgb: <strong>143 151 156</strong></li>
        </ul>
      </article>
    </div>


    <div class="title-card f-color-chip">
      <header class="color--greyLight"></header>
      <article>
        <h4><strong>Light Grey</strong></h4>
        <h6>Sublte text color</h6>
        <ul class="f-color-codes">
          <li>hex: <strong>#b8c3c9</strong></li>
          <li>rgb: <strong>184 195 201</strong></li>
        </ul>
      </article>
    </div>


     <div class="title-card f-color-chip">
      <header class="color--silver"></header>
      <article>
        <h4><strong>Silver</strong></h4>
        <h6>Grey borders, dividers</h6>
        <ul class="f-color-codes">
          <li>hex: <strong>#e7e5e4</strong></li>
          <li>rgb: <strong>231 229 228</strong></li>
        </ul>
      </article>
    </div>


     <div class="title-card f-color-chip">
      <header class="color--offWhite"></header>
      <article>
        <h4><strong>Off White</strong></h4>
        <h6>When #fff is too stark</h6>
        <ul class="f-color-codes">
          <li>hex: <strong>#f2f8fb</strong></li>
          <li>rgb: <strong>242 248 251</strong></li>
        </ul>
      </article>
    </div>

  </div>
</div>
