---
title: Icons | Lyve
fabricator: true
---
<h1 data-f-toggle="labels">Icons</h1>

<div class='f-item-group'>
  <div class="f-icons cards-list">

    <div class="f-icon card title-card">
      <header><img src='/assets/toolkit/images/icons/device_cloud.svg' /></header>
      <article>Cloud</article>
    </div>

    <div class="f-icon card title-card">
      <header><img src='/assets/toolkit/images/icons/device_desktop.svg' /></header>
      <article>Desktop</article>
    </div>

    <div class="f-icon card title-card">
      <header><img src='/assets/toolkit/images/icons/device_lyvecam.svg' /></header>
      <article>Lyve Cam</article>
    </div>

    <div class="f-icon card title-card">
      <header><img src='/assets/toolkit/images/icons/device_lyvehome.svg' /></header>
      <article>Lyve Home</article>
    </div>

    <div class="f-icon card title-card">
      <header><img src='/assets/toolkit/images/icons/device_lyvestudio.svg' /></header>
      <article>Lyve Studio</article>
    </div>

    <div class="f-icon card title-card">
      <header><img src='/assets/toolkit/images/icons/device_phone.svg' /></header>
      <article>Phone</article>
    </div>

    <div class="f-icon card title-card">
      <header><img src='/assets/toolkit/images/icons/device_tablet.svg' /></header>
      <article>Tablet</article>
    </div>

    <div class="f-icon card title-card">
      <header><img src='/assets/toolkit/images/icons/form_email.svg' /></header>
      <article>Email</article>
    </div>

    <div class="f-icon card title-card">
      <header><img src='/assets/toolkit/images/icons/form_password.svg' /></header>
      <article>Password</article>
    </div>

    <div class="f-icon card title-card">
      <header><img src='/assets/toolkit/images/icons/form_user_name.svg' /></header>
      <article>User</article>
    </div>

    <div class="f-icon card title-card">
      <header><img src='/assets/toolkit/images/icons/icon_checkmark.svg' /></header>
      <article>Checkmark</article>
    </div>

    <div class="f-icon card title-card">
      <header><img src='/assets/toolkit/images/icons/icon_photos.svg' /></header>
      <article>Photos</article>
    </div>

    <div class="f-icon card title-card">
      <header><img src='/assets/toolkit/images/icons/icon_videos.svg' /></header>
      <article>Videos</article>
    </div>

    <div class="f-icon card title-card">
      <header><img src='/assets/toolkit/images/icons/icon_storage.svg' /></header>
      <article>Storage</article>
    </div>

    <div class="f-icon card title-card">
      <header><img src='/assets/toolkit/images/icons/icon_add.svg' /></header>
      <article>Add</article>
    </div>

    <div class="f-icon card title-card">
      <header><img src='/assets/toolkit/images/icons/icon_edit.svg' /></header>
      <article>Edit</article>
    </div>

</div>
