---
title: Overview | Slate
fabricator: true
---
<h1 data-f-toggle="labels">Slate's UI Toolkit</h1>

<div class="f-item-group">
  <article>
    <h3>Blocks</h3>
    <p>Blocks are the atomic level components that make up a complex user interface. Much like atoms, blocks are abstract in nature, don't provide a lot of use on their own, and can not be broken down into smaller components. Only when multiple blocks are combined do we start to see useful user interfaces take shape. Through the lense of web development, these are core HTML tags such as the &lt;a&gt;, &lt;button&gt;, or &lt;input&gt; and many other elements.</p>
    <p>Blocks also encompass other globally available constructs such as typography, color pallets, tone and voice, animation styles, and other untangeable aspects that are used to craft complex user interfaces.</p>
  </article>

  <article>
    <h3>Components</h3>
    <p>prioejspijf</p>
  </article>

  <article>
    <h3>Structures</h3>
    <p>prioejspijf</p>
  </article>

  <article>
    <h3></h3>
    <p>prioejspijf</p>
  </article>
</div>
