//
// Named colors
//---------------------------------------------------------
$blue           = #0070cd
$orange         = #f98500
$green          = #6ad83a
$red            = #f13f00
$off-white      = #f5f3f0
$grey-darker    = #333b40
$grey-dark      = #3d464c
$grey-medium    = #8f979c
$grey-light     = #b8c3c9
$grey-lighter   = #d3d7d9
$grey-lightest  = #e4e6e7


//
// Colors by use
//---------------------------------------------------------
$color-primary          = $blue
$color-splash           = $orange
$color-alert            = $red
$color-success          = $green

