<div class='f-platforms'>
  <ul>
    <li><a href='#' class='platform-toggle icon-global' title='Global' data-platform='global'><i class='fa fa-globe'></i></a></li>
    <li><a href='#' class='platform-toggle icon-web' title='Web' data-platform='web'><i class='fa fa-chrome'></i></a></li>
    <li><a href='#' class='platform-toggle icon-mobile' title='Mobile' data-platform='mobile'><i class='fa fa-mobile'></i></a></li>
    <li><a href='#' class='platform-toggle icon-desktop' title='Desktop' data-platform='desktop'><i class='fa fa-desktop'></i></a></li>
  </ul>
</div>
