//
// Animations – defaults and variables
//---------------------------------------------------------

// Durations should be selected based on how much
// distance an object is covering, as well as the
// overall size of the object that is transitioning.
$anim-duration--fastest   = 100ms
$anim-duration--faster    = 150ms
$anim-duration--fast      = 200ms
$anim-duration--regular   = 250ms
$anim-duration--slow      = 300ms
$anim-duration--slower    = 350ms
$anim-duration--slowest   = 400ms

// All easings are of the quad variety
// http://easings.net/
$anim-easing--easeIn          = cubic-bezier(0.55, 0.085, 0.68, 0.53)
$anim-easing--easeOut         = cubic-bezier(0.25, 0.46, 0.45, 0.94)
$anim-easing--easeInOut       = cubic-bezier(0.455, 0.03, 0.515, 0.955)
$anim-easing--easeOutElastic  = cubic-bezier(.1,.57,.55,1.18)
