//
// Global form mixins
//---------------------------------------------------------
.ui-input-text input:-webkit-autofill {
  // Hack to stop Chrome from defaulting to the yellow
  // background when auto-filling a form element
  box-shadow 0 0 0 100px white inset !important
}
inputBase() {
  appearance none
  border 1px solid lighten($grey-medium, 50%)
  border-radius $radius--small
}

textInput() {
  inputBase()
  font-size 100%
  padding .7rem

  &:focus {
    outline none
  }

  &::-ms-clear {
    display: none;
  }

  &::-ms-reveal {
    display: none;
  }
}
inputBaseReadOnly() {
  appearance none
  background lighten($grey-lighter, 50%)
  border-radius $radius--small
  color $grey-dark
  pointer-events none
  user-select none
}

textInputReadOnly() {
  inputBaseReadOnly()
  font-size $type-size--large
  padding .7rem

  &:focus {
    outline none
  }
}

//
// Text inputs
//---------------------------------------------------------
input[type=text],
input[type=email],
input[type=password] {
  textInput()
}

input[readonly="readonly"],
input[readonly],
textarea[readonly="readonly"],
textarea[readonly] {
  textInputReadOnly()
}

.ui-input-text,
.ui-input-text input,
.ui-input-text label {
  width 100%
  height 100%
}

.ui-input-text {
  position relative
  height 3.6rem
  margin-bottom 1.2rem
}
.ui-input-text input,
.ui-input-text label {
  position absolute
}
.ui-input-text.input-icon input{
  padding-left 3.8rem
}
.ui-input-text label {
  width 3.5rem
  background-repeat no-repeat
  background-size 1.5rem
  background-position 1.2rem
  pointer-events none
}
.ui-input-text label.icon-email {
  background-image url('/global/images/icons/form_email.svg')
}
.ui-input-text label.icon-password {
  background-image url('/global/images/icons/form_password.svg')
}
.ui-input-text label.icon-firstName,
.ui-input-text label.icon-lastName {
  background-image url('/global/images/icons/form_user_name.svg')
}


//
// Checkbox
//---------------------------------------------------------
input.checkbox {
  display none
}
input.checkbox + label {
  inputBase()
  border 1px solid $grey-medium
  display inline-block
  width 1.2rem
  height 1.2rem
  cursor pointer
}
input.checkbox + label span {
  padding-left 1.5rem
  line-height 1.2rem
}
input.checkbox:checked + label {
  border-width 1px
  border-color $color-primary
  background $color-primary
  background-image url('/assets/toolkit/images/icons/icon_checkmark.svg')
  background-size 80%
  background-repeat no-repeat
  background-position 50% 50%
}
input.checkbox:focus,
input.checkbox:checked {
  outline none
}




//
// Misc
//---------------------------------------------------------
form button:focus {
  outline none
}

