$ui-toggle-switch--height        = 30px
$ui-toggle-switch--maxWidth      = 100px
$ui-toggle-switch--switchWidth   = 50px

.toggle-switch,
.toggle-switch label,
.toggle-switch label span {
  user-select none
  cursor pointer
  border-radius $radius--small
}
.toggle-switch {
  width 100%
  max-width $ui-toggle-switch--maxWidth
  min-width ($ui-toggle-switch--maxWidth) - 20px
  height $ui-toggle-switch--height
  background $off-white
}
.toggle-switch.on {
  border 1px solid $color-primary
}
.toggle-switch label {
  display block
  height 100%
  width 100%
  position relative
  overflow hidden
}
.toggle-switch em {
  display block
  width $ui-toggle-switch--switchWidth
  height 100%
  position absolute
  line-height $ui-toggle-switch--height - 2px
  text-align center
  font-style normal
  font-weight normal
  background $grey-light
  color #fff
  margin-left 0px
  left 0px
  transition all $anim-duration--fast $anim-easing--easeInOut
}
.toggle-switch input {
  display none
}
.toggle-switch input:checked + label em {
  left 100px
  margin-left -($ui-toggle-switch--switchWidth)
  background $color-success
}
.toggle-switch input:checked + label em.off {
  opacity 0
}
