//
// Typeface includes
// TODO: This is a lot of requests to the server.
//       As such, we should look in to combining these,
//       and possibly stripping out non alpha-numeric chars
//       at least until we need them for localization.
//---------------------------------------------------------
@font-face {
  font-family 'Alright Sans LT'
  src url('/assets/toolkit/fonts/alrightSansLTReg.eot') // IE9 Compat Modes
  src url('/assets/toolkit/fonts/alrightSansLTReg.eot?#iefix') format('embedded-opentype'), // IE6-IE8
      url('/assets/toolkit/fonts/alrightSansLTReg.woff') format('woff'), // Modern Browsers
      url('/assets/toolkit/fonts/alrightSansLTReg.ttf') format('truetype'), // Safari, Android, iOS
      url('/assets/toolkit/fonts/alrightSansLTReg.svg#svgFontName') format('svg') // Legacy iOS
  font-style normal
  font-weight normal
}
@font-face {
  font-family 'Alright Sans LT Medium'
  src url('/assets/toolkit/fonts/alrightSansLTMedium.eot') // IE9 Compat Modes
  src url('/assets/toolkit/fonts/alrightSansLTMedium.eot?#iefix') format('embedded-opentype'), // IE6-IE8
      url('/assets/toolkit/fonts/alrightSansLTMedium.woff') format('woff'), // Modern Browsers
      url('/assets/toolkit/fonts/alrightSansLTMedium.ttf') format('truetype'), // Safari, Android, iOS
      url('/assets/toolkit/fonts/alrightSansLTMedium.svg#svgFontName') format('svg') // Legacy iOS
  font-style normal
  font-weight normal
}

//
// Typeface defaults
//---------------------------------------------------------
$type-defaults            = "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$type-regular             = "Alright Sans LT", $type-defaults;
$type-regular--italic     = "Alright Sans LT Italic", $type-defaults;
$type-medium              = "Alright Sans LT Medium", $type-defaults;
$type-medium--italic      = "Alright Sans LT Medium Italic", $type-defaults;


//
// Global type setup
//---------------------------------------------------------
.type-default {
  font-family $type-regular
  font-weight normal
  font-style normal
  -webkit-font-smoothing antialiased
}
html, body {
  font-size 100%
  color $color-text
}
body, p, a, h1, h2, h3, h4, h5, h6,
small, em, strong, input, button, pre {
  @extends .type-default
}


//
// Headings
//---------------------------------------------------------

// Default heading styles
h1, h2, h3, h4, h5, h6 {
  display block
  color $grey-darker
  font-weight normal

  a {
    color inherit
  }

  &.title {
    color $color-splash
    margin-bottom 1rem
    padding-bottom .5rem
    border-bottom 1px solid $color-splash
    display inline-block
  }

  strong {
    font-weight bold
  }
}

// Heading font sizes and line-heights
h1 {
  font-size $heading-size--largest
  line-height $heading-size--largest * $type-spacing--loose

  +below('large') {
    font-size $heading-size--larger
    line-height $heading-size--larger * $type-spacing--loose
  }
}
h2 {
  font-size $heading-size--larger
  line-height $heading-size--larger * $type-spacing--loose

  +below('large') {
    font-size $heading-size--large
    line-height $heading-size--large * $type-spacing--loose
  }
}
h3 {
  font-size $heading-size--large
  line-height $heading-size--large * $type-spacing--loose

  +below('large') {
    font-size $heading-size--small
    line-height $heading-size--small * $type-spacing--loose
  }
}
h4 {
  font-size $heading-size--small
  line-height $heading-size--small * $type-spacing--loose

  +below('large') {
    font-size $heading-size--smaller
    line-height $heading-size--smaller * $type-spacing--loose
  }
}
h5 {
  font-size $heading-size--smaller
  line-height $heading-size--smaller * $type-spacing--loose

  +below('large') {
    font-size $heading-size--smallest
    line-height $heading-size--smallest * $type-spacing--loose
  }
}
h6 {
  font-size $heading-size--smallest
  line-height $heading-size--smallest * $type-spacing--loose
}

//
// All other assorted text bits
//---------------------------------------------------------
article p {
  line-height $type-spacing--loose
  margin-bottom 1.1rem

  &:last-child {
    margin-bottom 0
  }
}
p strong {
  font-family $type-medium
  color inherit
}
small {
  font-size $type-size--small
  color inherit
}
small.fine-print {
  font-size $type-size--smaller
}
em {
  font-family $type-regular--italic
}
strong em {
  font-family $type-medium--italic
}
hr {
  background $grey-lighter
  border 0
  height 1px
  margin 1.6rem 0
}
blockquote {
  color $color-text--quiet
  margin 0
}
abbr[title] {
  border none
}
sup, sub {
  position relative
}
strong {
  font-weight bold
}
.text-reversed {
  color $off-white

  h1, h2, h3, h4, h5, h6, a, p, span {
    color $off-white
  }
  a:hover, a:active {
    color #fff
  }
}
.text-quiet {
  color $color-text--quiet
}
.text-primary {
  color $color-primary
}
.text-success {
  color $color-success
}
.text-splash {
  color $color-splash
}
.text-alert {
  color $color-alert
}
.text-padded {
  padding 1rem
  text-align center
}


//
// Masthead titles
//---------------------------------------------------------
.centered-masthead {
  text-align center
}
.centered-masthead .masthead--title {
  display inline-block
  padding-bottom .5em
  border-bottom-width 2px
  border-bottom-style solid
}
.centered-masthead .masthead--title {
  border-bottom-color rgba($grey-light, 0.4)
}
.centered-masthead.text-reversed .masthead--title {
  border-bottom-color rgba(#fff, 0.4)
}


//
// Links
//---------------------------------------------------------
a {
  color $color-primary
  text-decoration none
  cursor pointer
}
a:hover, a:focus {
  text-decoration none
}
a.has-arrow:after {
  content "\203A" // Right chevron
  display inline-block
  left 0
  margin-left .325em
  position relative
  transition left $anim-duration--fastest $anim-easing--easeInOut
}
a.has-arrow:hover:after,
a.has-arrow:focus:after {
  left .325em
}
nav a.active {
  font-weight bold
}

//
// Generic list styles
//---------------------------------------------------------
ul li,
ol li {
  // All list items need consistent vertical rhythm
  line-height $type-spacing--looser
}
ul.standard li:before,
ol.standard li:before {
  color $grey-dark
  padding-right 0.4em
}

// Unordered list
ul.standard li:before {
  content '\2022' // middot
}

// Ordered list
ol.standard {
  counter-reset section
}
ol.standard li:before {
  counter-increment section
  content counters(section, '')'. '
}


//
// List and list item overrides
//---------------------------------------------------------
nav ul,
nav li {
  list-style-type none
}
nav li:before {
  content none
}
