//
// Global form mixins
//---------------------------------------------------------
.ui-input-text input:-webkit-autofill {
  // Hack to stop Chrome from defaulting to the yellow
  // background when auto-filling a form element
  box-shadow 0 0 0 100px white inset !important
}

inputBase() {
  appearance: none;
  border: none;
  background: transparent;
}

textInput() {
  inputBase()
  font-size: 100%;
  padding: .7rem;
  padding-left: 0;
  box-shadow: 0px 1px 0px 0px $grey-light
  transition: box-shadow $fast $easeInOut

  &:focus {
    outline: none;
    box-shadow: 0px 2px 0px 0px $color-primary
  }
  &::-ms-clear { display: none; }
  &::-ms-reveal { display: none; }
}

inputBaseReadOnly() {
  appearance none
  background lighten($grey-light, 50%)
  border-radius $radius--small
  color $grey-dark
  pointer-events none
  user-select none
}

textInputReadOnly() {
  inputBaseReadOnly()
  font-size $type-size--large
  padding .7rem

  &:focus {
    outline none
  }
}

//
// Text inputs
//---------------------------------------------------------
input[type=text],
input[type=email],
input[type=password] {
  textInput()
}

input[readonly="readonly"],
input[readonly],
textarea[readonly="readonly"],
textarea[readonly] {
  textInputReadOnly()
}

//
// Checkbox
//---------------------------------------------------------
input.checkbox {
  display: none;
  cursor: pointer;
}
input.checkbox + label {
  border: 1px solid $grey-light;
  display inline-block
  width 1.216rem
  height 1.216rem
  cursor pointer
  background-size 10%
  background-position 40% 50%
  transition all $faster $easeInOut
}
input.checkbox + label span {
  padding-left 1.5rem
  line-height 1.2rem
}
input.checkbox:checked + label {
  border-width 1px
  border-color $color-primary
  background $color-primary
  background-image url('/assets/toolkit/images/icons/icon_checkmark.svg')
  background-size 80%
  background-repeat no-repeat
  background-position 40% 50%
}
input.checkbox:focus,
input.checkbox:checked {
  outline none
}

//
// Radio
//---------------------------------------------------------
input.radio {
  display: none;
}
input.radio + label {
  cursor: pointer;
  display: inline-block;
  width: 1.216rem;
  height: 1.216rem;
  border: 1px solid $grey-light;
  border-radius: 50%;
}
input.radio:checked + label {
  border-color: $color-primary;
  background-color: $color-primary;
}




//
// Misc
//---------------------------------------------------------
form button:focus {
  outline none
}

