$table-border = darken($off-white, 5%)

table {
  width 100%
  border 1px solid $table-border
}
table td {
  padding 1rem
  border-right 1px solid $table-border
  vertical-align top
  &:last-child {
    border-right none
  }
}
table thead td {
  background $off-white
}
