.f-color-chips {
  width: 100%;
  display: flex;
  flex-flow row wrap
  margin: -1rem;
}

.f-color-chip {
  min-width: 18rem;
  width: calc(100% * 1 / 4 - 2rem);
  max-width: 20rem;
  margin: 1rem;

  &:last-child {
    margin-right: 0;
  }

  header {
    padding: 4rem;

    &.color {
      &--primary    { background-color: $colors['blue']; }
      &--splash     { background-color: $colors['orange']; }
      &--alert      { background-color: $colors['red']; }
      &--success    { background-color: $colors['green']; }
      &--greyDark   { background-color: $colors['greyDark']; }
      &--greyMedium { background-color: $colors['greyMedium']; }
      &--greyLight  { background-color: $colors['greyLight']; }
      &--silver     { background-color: $colors['silver']; }
      &--offWhite   { background-color: $colors['offWhite']; }
    }
  }
}

.f-color-codes {
  font-size: .85rem;

  li {
    padding-top: .5rem;
    margin-top: .5rem;
    border-top: 1px solid $colors['offWhite']

    &:first-child {
      border-top: none;
    }
  }
}
