.f-controls {
  clearfix();
  border-box();

  .f-control {
    display: block;
    float: left;
    text-align: center;
    width: calc(33.3333%);
    margin: 0;
    padding: 1rem 0;

    svg {
      vertical-align: middle;
      fill: $colors['silver'];
    }
    &.f-active svg {
      fill: $colors['blue'];
    }
  }
}

.f-control {
  border-box();
  display: inline-block;
  cursor: pointer;
  margin-left: 0.618rem;

  &:first-child {
    margin-left: 0;
  }

  svg {
    width: 14px;
    height: 14px;
    fill: $colors['silver'];
  }
}

.f-control-bar {
  clearfix();
  padding: 1rem 2rem;
  background: $colors['offWhite'];
  margin: 0 -2rem;

  svg {
    fill: $colors['greyLight'];
  }
}

.f-menu-toggle {
  cursor: pointer;
  vertical-align: middle;

  svg {
    display: block;
    float: left;
    margin-bottom: -1px;
  }
}
