.f-icons {
  flex-flow: row wrap !important;

  .f-icon {
    width: calc(100% * 1 / 6 - 1rem);

    > header {
      background: $colors[greyDark];
      min-height: auto;
      width: 100%;
      padding: 2rem;

      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 4rem;
        height: 4rem;
      }
    }
  }
}
