// menu
.f-menu {
  border-box();
  position: fixed;
  top: 0;
  left: 0;
  width: $menu-width;
  height: 100%;
  z-index: 1;
  background-color: $colors['menuBackground'];
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  border-right: 1px solid $colors['silver']

  ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }

  > ul {
    margin-top: 0;
    margin-bottom: 1rem;

    > li {
      margin-top: 1rem;
    }
  }

  li {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
  }

  a {
    display: block;
    padding: 0.5rem 2rem;
    color: $colors['menuText'];
    text-decoration: none;
    font-size: 0.75rem;
    line-height: 1;

    &:hover {
      cursor: pointer;
    }

    &.f-active {
      box-shadow: inset 3px 0 0 0 $colors['blueBright'];
    }
  }

  .f-menu__heading {
    color: $colors['menuHeading'];
    font-weight: bold;
    padding-left: 1.5rem;
    font-size: .75rem;
    text-transform: uppercase;
  }
}
