$colors = {
  blue:         #00b2e2,
  orange:       #f07e00,
  red:          #ca2808,
  green:        #2bbd2d,
  greyDark:     #24353f,
  greyMedium:   #8f989e,
  greyLight:    #ced3d6,
  silver:       #edeff1,
  offWhite:     #fafcfd,
  white:        #ffffff
}

$colors-usage = {
  menuBackground:  $colors['offWhite'],
  menuText:        $colors['greyDark'],
  menuHeading:     $colors['greyDark'],
  normal:          $colors['greyLight']
}

$colors       = merge($colors, $colors-usage);
$menu-width   = 14rem;

//
// General use mixins
//
clearfix() {
  &:after {
    clear: both;
  }

  &:before,
  &:after {
    display: table;
    content: ' ';
  }
}

border-box() {
  box-sizing: border-box;
}
