.modal {
  header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    h5, a { color: $grey-medium; }
  }
  article {
    padding: 4rem;
  }
  footer {
    background: $off-white;
    padding: 2rem;
    margin: -1rem;
    margin-top: 1rem;
    text-align: center;
    border-top: 1px solid $silver;
    color: $grey-medium;
  }
}
